<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My Angular Material App</span>
      <span class="spacer"></span> <!-- This spacer will push the menu to the right -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['']" >Profile</button>
        <button mat-menu-item [routerLink]="['pets']" >Logout</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>