<!-- app.component.html -->
<div class="container">
    <form class="example-form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="Confirm your password">
      </mat-form-field>
  
      <button mat-raised-button color="primary">Submit</button>
    </form>
  
    <mat-list class="example-list">
        <a mat-list-item href="#item1">Item 1</a>
        <a mat-list-item href="#item2">Item 2</a>
        <a mat-list-item href="#item3">Item 3</a>
    </mat-list>
  </div>
  