<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="2">
        <div class="scrollable-content">
            <div *ngIf="!owner">You have not selected owner</div>
            <div *ngIf="owner">
                <app-pet-list></app-pet-list>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button (click)="addPet()" *ngIf="owner">Add pet</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="scrollable-content">
            <router-outlet></router-outlet>
        </div>
    </mat-grid-tile>
</mat-grid-list>